@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Pokemon Solid', sans-serif;

                                           
}



body{
  text-align: center;
  min-height: 100vh;
  
  background: linear-gradient(to top, rgba(0, 217, 255, 0.842), white);
}

main{
  display: inline-block;
  margin-top: 1%;
  padding: 5px;
  position: relative;

}

.pokedex{
  display: block;
  margin-top: 50px;
  width: 100%;
}

.pokemon-gif{
  position: absolute;
  top: 42%;
  left: 40%;
  height: 14%;
  transform: translate(-20%, -20%);
}

.pokemon_data{
  position: absolute;
  font-weight: 200;
  top: 57%;
  right: 28%;
  color: grey;
  font-size: clamp(15px, 1.5vw, 20px);

}

.pokemon_nome{
  color: rgb(58, 57, 57);
  text-transform: capitalize;
}

.form{
  position: absolute;
  top: 70%;
  left: 20%;

}

.search{
  width: 120%;
  padding: 3%;
  outline: none;
  border-radius: 4px;
  border: 1.5px solid rgb(46, 47, 48);
  color: black;
  font-weight: 500;
  font-size: clamp(13px, 1vw, 20px);
  box-shadow: -2px 2px 0 #888, -5px 5px 0 #333;

}

.botoes{
  position: absolute;
  bottom: 10%;
  left: 25%;
  transform: translate(-1%, 0);
  display: flex;
  gap: 40px;
  width: 90%;
}

button{
  cursor: pointer;
  padding: 0.1%;
  width: 5rem;
  outline: none;
  border-radius: 4px;
  border: 1.5px solid rgb(46, 47, 48);
  color: white;
  font-weight: 500;
  font-size: clamp(13px, 1vw, 20px);
  box-shadow: -2px 2px 0 rgb(46, 45, 45), -5px 5px 0 rgb(0, 0, 0);
  background-color: #444;
}

.button:active{
  background-color: gray;
  box-shadow: inset -1px 4px 0 #222;
  font-size: 0.7rem;
}

